body {
    background-color: #E09145;
    padding: 20px;
    margin: 0;
}

h1#name{
    color: #aa2704;
}

img#pumpkin{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img#leaves{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}



h1, h2, p, ul, li {
    color: #E6AE35;
    font-family: sans-serif;
}
ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}
ul.header {
    background-color: #695140;
    padding: 0;
}
ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
.content {
    background-color: #695140;
    padding: 20px;
}
.content h2 {
    padding: 0;
    margin: 0;
}
.content li {
    margin-bottom: 10px;
}
.active {
    background-color: #B3C05D;
}

a{
    color: #B3C05D;
}
a:visited {
    color: #B3C05D;
}
